.accordion {
  border: 1px solid var(--secondaryTextColor);
  border-radius: 10px !important;
  margin-top: 25px !important;
  box-shadow: none !important;
}

.title {
  font-size: 24px;
  line-height: 29px;
  color: var(--primaryTextColor);
  letter-spacing: 0px;
  font-weight: bold;
  font-family: Roboto;
}

.textContent {
  font-size: 20px;
  line-height: 29px;
  color: var(--secondaryTextColor);
  letter-spacing: 0px;
  font-weight: normal;
  font-family: Roboto;
}

.summary{
  min-height: 20px !important;
}

@media (max-width:468px) {
  .title{
    font-size: 14px;
    line-height: 17px;
  }

  .textContent{
    font-size: 12px;
    line-height: 14px;
  }

  .accordion{
    margin-top: 13px !important;
  }
}