.headerContainer {
  background: var(--highlightedSectionBgColor) 0% 0% no-repeat padding-box;
  padding-top: 26px;
}
.header {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  margin-top: 5px;
}
.list {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

.listElement {
  color: var(--primaryTextColor);
  letter-spacing: 0px;
  text-decoration: none;
  font-family: Roboto;
  font-size: 15px;
  line-height: 18px;
  font-weight: 500;
}

.list li {
  margin-right: 74px;
}
.downloadBtn {
  width: 130px;
  height: 43px;
  background: var(--downloadBtnColor) 0% 0% no-repeat padding-box;
  border-radius: 22px;
  border-color: transparent;
  color: white;
  letter-spacing: 0px;
  font-family: Roboto;
  font-size: 15px;
  line-height: 18px;
  font-weight: 500;
  cursor: pointer;
}

.mobileHeader {
  padding: 20px 17px 0px 17px;
  display: flex;
  justify-content: space-between;
  background: var(--highlightedSectionBgColor) 0% 0% no-repeat padding-box;
}

@media (max-width:1050px) {
  .header{
    width: 100%;
  }

  .headerContainer{
    padding-left: 17px;
    padding-right: 17px;
  }
}
