.termsNConditions {
  background: var(--highlightedSectionBgColor) 0% 0% no-repeat padding-box;
  padding-top: 107px;
}

.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
}

.mainContent {
  width: 45%;
  margin-right: 24px;
}

.sideImgDiv {
  width: 45%;
}

.heading {
  font-family: Roboto;
  color: var(--primaryTextColor);
  font-weight: 700;
  font-size: 54px;
  line-height: 65px;
  margin-top: 0px;
  margin-bottom: 11px;
  letter-spacing: 0px;
}

.text {
  color: var(--secondaryTextColor);
  font-family: Roboto;
  font-size: 20px;
  line-height: 30px;
  margin-top: 0px;
  font-weight: normal;
  margin-bottom: 30px;
}

.textContent {
  width: 80%;
  margin: 65px auto 39px auto;
}

.primaryHeading {
  color: var(--primaryTextColor);
  letter-spacing: 0px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  font-family: Roboto;
  margin-top: 0px;
  margin-bottom: 0px;
}

.secondaryHeading {
  color: var(--secondaryTextColor);
  letter-spacing: 0px;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  font-family: Roboto;
  margin-left: 38px;
  margin-top: 12px;
  margin-bottom: 0px;
}

.flex {
  display: flex;
  align-items: center;
}

.checkIcon {
  width: 29px;
  height: 29px;
  background: var(--subTitleColor) 0% 0% no-repeat padding-box;
  color: white;
  margin-right: 8px;
  padding: 1px;
  border-radius: 50%;
}

.term {
  margin-top: 41px;
}

.header {
  margin-left: 38px;
}

@media (min-width: 800px) and (max-width: 1200px) {
  .mainContent {
    width: 57%;
  }
}
@media (min-width: 469px) and (max-width: 1050px) {
  .container {
    width: 100%;
  }
  .textContent {
    width: 100%;
  }
  .textContent .text {
    padding-left: 17px;
    padding-right: 17px;
  }

  .mainContent {
    padding-left: 17px;
  }

  .textContentDiv {
    padding-left: 17px;
    padding-right: 17px;
  }
}
@media (min-width: 800px) and (max-width: 1050px) {
  .sideImg {
    width: 93%;
  }
}
@media (min-width: 710px) and (max-width: 799px) {
  .sideImg {
    padding-right: 17px;
    width: 93%;
  }
  .mainContent {
    width: 50%;
    padding-left: 17px;
  }
}
@media (min-width: 469px) and (max-width: 709px) {
  .sideImgDiv {
    padding-right: 17px;
    width: 100%;
  }
}
@media (min-width: 469px) and (max-width: 708px) {
  .container {
    display: block;
  }
  .mainContent {
    width: 93%;
    padding-left: 17px;
    padding-right: 17px;
    margin-right: 0px;
  }
  .sideImgDiv {
    display: flex;
    justify-content: center;
    padding-right: 0px;
  }
}

@media (max-width: 468px) {
  .container {
    width: 100%;
    display: block;
  }

  .mainContent {
    width: 100%;
    margin-right: 0px;
  }

  .sideImgDiv {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .heading {
    font-size: 28px;
    line-height: 34px;
    margin-bottom: 7px;
  }

  .text {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 10px;
  }

  .textContent {
    width: 100%;
    margin-top: 26px;
    background-color: white;
  }

  .containerDiv {
    padding: 25px 17px 0px 17px;
    background: var(--highlightedSectionBgColor) 0% 0% no-repeat padding-box;
  }

  .termsNConditions {
    padding-top: 38px;
  }

  .textContentDiv {
    padding: 25px 17px 0px 17px;
  }
  .primaryHeading {
    font-size: 18px;
    line-height: 22px;
  }

  .secondaryHeading {
    font-size: 12px;
    line-height: 15px;
    margin-top: 5px;
    margin-left: 30px;
  }

  .term {
    margin-top: 22px;
  }

  .checkIcon {
    height: 20px;
    width: 20px;
  }
}
